#topmenu
{
   background-color: #36b03c;
   color: black;
   font-size: 28px;
}

.bar
{
    padding: 10px;
    color: black;
    font-size: 28px;
    border: solid 2px #037009;
    float: left;
}

.bar:hover
{
    background-color: #14901a;
}